.App {
  border-radius: 5px;
  width: 50%;
  height: 60em;
  margin-left: 25%;
  margin-top: 3em;
  margin-bottom: 3em;
  justify-content: center;
  background-color: teal;
}

.currentD{
  overflow: auto;
  text-align: left;
  margin-left: 4em;
  border-style: groove;
  background-color: white;
  border-radius: 5px;
  width: 30em;
  height: 10em;

  float: left;
  height: 20em;
}
.deckBtns{
  border-radius: 15px;
  margin-right: .5em;
  margin-left: .5em;
}


.cardinDeckList{
  list-style-type: none;
 
}

.searchdiv{
  display: flex;
  justify-content: center;
  padding:1em;
  margin:auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 50%;
}
#tooltip-right{
  min-width: 10em !important;
  max-width: 70em;
  margin: 1em;
  margin-right: 0 !important;
  margin-left: 18em !important;
  background: white;
}
.tooltip.bs-tooltip-right .tooltip-inner {
  background:white !important;
}

.tooltip .arrow:before {
  border-left-color: white !important;
}

.search{
  background-color: white;
  padding-right: 2em;
}
.advancedSearchMenu{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1em;
}
.formSubsection{
  border-style: groove;
  border-radius: 5px;
  padding:1em;
  text-align: left;
}
.checks{
  display: inline-flex;
  padding: 1em;
}


.colorComp{
  float: right;
 
  margin-right: 9em;
  height: 20em;
  width: 20%;
  padding-bottom: 3em;
}
.proCon{
  display: inline-block;
  justify-content: center;
  padding: 4em;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: left;
  width: 30%;
  height: 10%;
}

.stats{
padding: 2em;
height: 10em;
border-radius: 5px;
}

.addSpace{
  width: 30em;
  height: 20em;
  border-style: groove;
  border-radius: 5px;
  margin-top: 25em;
  margin-left: 4em; 

}




