body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-thumb-sm {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}

.tooltip-inner-custom {
}

.img-thumb-large {
  width: 120px;
  position: relative;
  border-radius: 5px;
}

.tooltip-inner-custom > .tooltip-inner {
  background-color: lightslategrey;
}

.tooltip-inner-custom > .arrow::before {
  border-right-color: lightslategrey;
}
